{{define "title"}}About{{end}}

{{define "main"}}
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a sapien hendrerit, dignissim metus et, elementum neque. Nunc felis ligula, volutpat in enim et, congue interdum felis. Vestibulum a elit sodales, luctus mauris ut, feugiat sem. Curabitur aliquam dapibus elementum. Pellentesque at vestibulum velit. Curabitur quis quam in erat faucibus vulputate. In ultricies urna quis diam varius sodales vitae quis nunc.</p>
{{end}}
