{{define "title"}}Your Account{{end}}

{{define "main"}}
  <h2>Your Account</h2>
  <table>
    <tr>
      <th>Name</th>
      <td>{{.User.Name}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{.User.Email}}</td>
    </tr>
    <tr>
      <th>Joined</th>
      <td>{{humanDate .User.Created}}</td>
    </tr>
    <tr>
      <th>Password</th>
      <td><a href="/account/password/update">Change password</a></td>
    </tr>
  </table>
{{end}}
